html, body {
  margin: 0px; padding: 0px;
  background: #f9f7f6;
  color: #404d5b;
  font-weight: 300;
  font-size: 1em;
  font-family: 'Raleway', 'Helvetica Neue', Helvetica, sans-serif;
}

a {
  color: #404d5b;
  text-decoration: none;
  outline: none;
}

* {
  box-sizing: border-box;
}


section {
  padding: 6em 2em;
}

section p {
  text-align: justify;
  font-size: 3em;
  line-height: 1.518;
  max-width: 1200px;
  margin: 0 auto;
}

@media screen and (max-width: 50em) {
  section {
    font-size: 50%;
    padding: 3em 3.3em;
  }
}

section a {
  font-weight: 500;
  position: relative;
  display: inline-block;
  outline: none;
  color: #404d5b;
  vertical-align: bottom;
  text-decoration: none;
  white-space: nowrap;
}
