.article:nth-child(4n+1) {
  background: rgba(149,165,166,0.2);
  color: #34495e;
}

.article:nth-child(4n+2) {
  background: #f9f9f9;
}

.article:nth-child(4n+3) {
  background: #34495e;
  color: #b4b4b4;
}
.article:nth-child(4n+3) a {
  color: #e74c3c;
}

.article:nth-child(4n+4) {
  background: #e74c3c;
  color: #fff;
}


/*
.article:nth-child(4n+4) a {
  color: #293b4c;
  font-weight: 500;
}
.article:nth-child(4n+4) a:hover,
.article:nth-child(4n+4) a:focus {
  color: #f3f3f3;
}
*/

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
  text-transform: uppercase;
}

.title,
.description {
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

