.article:nth-child(4n+1) {
  background: rgba(149,165,166,0.2);
  color: #34495e;
}

.article:nth-child(4n+2) {
  background: #f9f9f9;
}

.article:nth-child(4n+3) {
  background: #34495e;
  color: #b4b4b4;
}
.article:nth-child(4n+3) a {
  color: #e74c3c;
}

.article:nth-child(4n+4) {
  background: #e74c3c;
  color: #fff;
}
