

/* DEEP MAP */
.deep-map {
  background: rgba(149,165,166,0.2);
  color: #34495e;
}

/* WINDOW PODS */
.window-pods { background: #f9f9f9; }

/* KAHASI */
.kahasi {
  background: #e74c3c;
  color: #fff;
}

/* UP BRAIN TRAINER */
.up-brain-trainer {
  background: #34495e;
  color: #b4b4b4;
}
.up-brain-trainer a {
  color: #e74c3c;
}

/* APP ENGINE CMS */
.app-engine-cms {
  background: rgba(149,165,166,0.5);
}
.app-engine-cms a {
  color: #293b4c;
  font-weight: 500;
}
.app-engine-cms a:hover,
.app-engine-cms a:focus {
  color: #f3f3f3;
}

/* ZENDATA */
.zendata { background: #f9f9f9; }
